.nav-bar-container {
  width: 100%;
  border: 2px solid orange;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    margin-right: 50px;

    li {
      padding: 10px;

      a {
        text-decoration: none;
      }
    }
  }
}
